/*  your css code here. If applicable */
body{
	font-family: Cambria;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center
}

h3{
	text-align: center;
	margin-top: 0;
	color: gray;
	font-weight: lighter;
}

.code-container{
	display: flex;
	gap: 10px;
}

input{
	height: 55px;
	width: 20px;
	border-radius: 3px;
	border: 2px solid #c1c4c4;
	font-size: 20px;
	padding: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}